* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 950px;
  margin: 10px auto 0 auto;
}

nav {
  width: 10%;
  background-color: white;
  height: 100%;
  float: left;
}

.banner {
  width: 100%;
  height: 10%;
  background-color: #2a2a2a;
}

.ul {
  margin-top: 3%;
  width: 100%;
  height: 50%;
  background-color: #3f3f3f;
}

section {
  width: 65.6%;
  height: 100%;
  float: left;
  background-color: white;
  margin-top: 5%;
}

aside {
  width: 22.8%;
  height: 100%;
  float: right;
  background-color: white;
}

aside .side {
  width: 100%;
  height: 25%;
  background-color: #939393;
  margin-bottom: 5%;
}

.index {
  background-color: white;
  float: left;
  width: 22%;
  height: 100%;
  padding-left: 5%;
}

.menu {
  background-color: #666;
  width: 100%;
  height: 18%;
  margin-bottom: 8%;
}

.main {
  background-color: green;
  float: left;
  width: 60.8%;
  height: 100%;
  margin: 0 8.6%;;
}

.title {
  height: 10%;
  background-color: #3f3f3f;
}

.metadata {
  height: 20%;
  background-color: #666;
}

.p {
  height: 20%;
  background-color: #7e7e7e;
}

.imgdiv {
  height: 30%;
  background-color: white;
}

.img {
  width: 63%;
  height: 100%;
  background-color: #2a2a2a;
}
